DATABASE_URL="postgresql://kullanici:parola@ep-xxxx.eu-central-1.aws.neon.tech/neondb?sslmode=require"
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"
OPENROUTER_API_KEY=""
AI_MODEL="anthropic/claude-sonnet-4"
